#style-guide {
  /* Syntax highlighting*/ }
  #style-guide .sg-swatch {
    padding-right: 2rem; }
  #style-guide .sg-swatch--top {
    border-style: solid;
    border-width: 2rem;
    border-radius: 10px 10px 0 0;
    padding: 1rem; }
  #style-guide .sg-swatch.sg-swatch--text .sg-swatch--top {
    border-style: solid;
    border-width: 1px;
    border-radius: 10px 10px 0 0;
    padding: 1rem;
    font-size: 3rem;
    text-align: center; }
  #style-guide .sg-swatch--top--bordered {
    border-style: dotted;
    border-width: .5rem;
    height: 6rem; }
  #style-guide .sg-swatch--bottom {
    background: #f0f0f0;
    border: .5rem solid #f0f0f0;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 3px #cfcfcf; }
  #style-guide .sg-swatch.sg-swatch--text .sg-swatch--bottom {
    padding: 1rem;
    text-align: center; }
  #style-guide .sg-hover-example {
    background-color: #444;
    color: #fff; }
  #style-guide .sg-hover-example::after {
    border-left-color: #444; }
  #style-guide .sg-font-montserrat {
    font-family: 'Montserrat'; }
  #style-guide .sg-font-open-sans {
    font-family: 'Open Sans'; }
  #style-guide .sg-font-open-sans-semi {
    font-family: 'Open Sans';
    font-weight: 600; }
  #style-guide .sg-font-open-sans-bold {
    font-family: 'Open Sans';
    font-weight: 700; }
  #style-guide .sg-font-times {
    font-family: 'Times New Roman'; }
  #style-guide .sg-grid {
    text-align: center; }
  #style-guide .sg-grid .row {
    margin-bottom: 1rem; }
  #style-guide .sg-input-focus {
    border: 2px solid #25cef7;
    background: white; }
  #style-guide .sg-input-success {
    border: 2px solid #b9f2b1; }
  #style-guide .sg-input-error {
    border: 2px solid #fed0d0; }
  #style-guide .highlight {
    padding: 1rem;
    width: 100%;
    overflow-y: scroll; }
  #style-guide code {
    border: none;
    background-color: #272822;
    color: #f0f0f0; }

nav#services-nav ul ul, nav#side-nav ul ul {
  display: block !important; }

#filter-list .search::after {
  content: none; }

@media screen and (max-width: 39.9375em) {
  #site-nav > nav > ul > li:nth-child(1) > a::before {
    content: "Digital Standards "; } }

.code-content {
  position: relative; }
  .code-content .clipy {
    position: absolute;
    top: 0;
    right: 0; }
