.accordion-item{
  border-bottom: 5px solid color(white);
  .accordion-title{
    text-transform: uppercase;
    &::before{
      top: -3px;
      margin-top: 0;
      padding: 1rem;
      border-left: 5px solid white;
      margin-right: -1rem;
      font-size: 2rem;
      vertical-align: top;
    }
  }
}
