#site-wide-alert{
  background: color(dark-ben-franklin);
  color: color(white);
  .icon {
    color:color(electric-blue);
  }
  .message{
    @include secondary-font(400);
    font-size: .9rem;
  }
  .dates{
    font-style: italic;
  }
  a:link, a:visited{
    color: color(white);
    text-decoration: underline;
  }
}

.alert {
  &.alert-persistent {
    background:color(dark-gray);
    color: color(white);
    padding: $spacing-small $spacing-none;

    p {
      font-size: .85rem;
      display:block;
      margin: 0;
    }
    a:link, a:visited{
      font-size: .85rem;
      color:color(white);
      text-transform: uppercase;
    }
    a:hover, a:active{
      font-size: .85rem;
      color:color(electric-blue);
    }
  }
}
