language: go

go:
  - 1.7.4

before_script:
  - git clone --branch v2 https://github.com/go-yaml/yaml $GOPATH/src/gopkg.in/yaml.v2
  - go get -u -v github.com/spf13/hugo
  - sudo chown -R $USER /usr/local/lib/python2.7
  - pip install Pygments

script:
  - hugo

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN # Set in travis-ci.org dashboard
  on:
    branch: master
  local_dir: public
  name: Digital Transformation Team
