{{ partial "head.html" . }}
{{ $dropdown := .Params.dropdown }}
{{ $parent := $.Scratch.Get "Parent"  }}
<div class="row">
  <div class="columns">
    <h1 class="contrast">
      {{ if isset $.Params "dropdown" }}
        {{ .Title }}
      {{else}}
        {{ print $parent }}
      {{ end }}
    </h1>
  </div>
</div>

<div class="topic-page row bdr-bottom bdr-sidewalk mtm" data-equalizer="page">
  <div id="style-guide" class="medium-16 medium-push-8 columns pbxl-mu" data-equalizer-watch="page">
    <section>
      {{ if isset $.Params "level" }}{{ else }}
        <h2 class="mtn hide-for-small-only">{{ .Title }}</h2>
      {{ end }}
      <p>{{ .Description }}</p>
      {{ .Content }}
      <nav class="hide-for-small-only">
        <div class="row fat-gutter"  data-equalizer data-equalize-by-row="false">
          {{ range .Paginator.Pages.ByParam "menu.main.weight" }}
            <div class="small-24 medium-8 column end">
              <a href="{{ .URL }}" class="card card--overview" data-equalizer-watch>
                <div class="content-block">
                  <h3>{{ .Title }}</h3>
                  {{ .Description }}
                </div>
              </a>
            </div>
          {{ end }}

          {{ $sect := (.Site.GetPage "section" "guidelines") }}
            {{ if ne $parent "Design & development"}}
              {{ if $sect }}
                {{ range $sect.Sections }}
                {{ if .InSection $ }}
                {{ template "section-nav"  (dict "sections" .Sections "current" $ ) }}
                {{end}}
              {{ end }}
            {{ end }}
          {{else}}
          {{end}}
          {{ define "section-nav" }}
            {{ range .sections }}
              <div class="small-24 medium-8 column end {{ if .InSection $.current }} hide {{end}}">
                <a href="{{ .URL }}" class="card card--overview equal">
                  <div class="content-block">
                    <h3>{{ .Title }}</h3>
                    {{ .Description }}
                  </div>
                </a>
              </div>
            {{ end }}
          {{ end }}
        </div>
      </nav>
    </section>
  </div>
  <div class="side-menu medium-7 medium-pull-17 columns bdr-right bdr-sidewalk pbxl" data-equalizer-watch="page">
    <nav data-swiftype-index="false" id="side-nav">
      <ul class="vertical menu">
        {{ partial "side-menu.html" (dict "menu" .Site.Menus.main "page" . "site" .Site) }}
      </ul>
    </nav>
  </div>
</div>
{{ partial "footer.html" . }}
