<div id="application">
  {{"<!-- Begin header -->" | safeHTML }}
  <header class="site-header app group">
    <div class="row expanded">
      {{ "<!-- if you don't want a full-width header, remove the expanded class -->" | safeHTML }}
      <div class="columns">
        <a href="http://phila.gov/" class="logo">
          <img src="https://standards.phila.gov/img/logo/city-of-philadelphia-yellow-white.png" alt="City of Philadelphia">
        </a>
        <div class="app-divide"></div>
        <div class="page-title-container">
          <a href="#/">
            <h1 class="page-title">Application Name With a Long Title</h1>
            <h2 class="page-subtitle">An optional subtitle</h2>
          </a>
        </div>
        <div class="app-buttons">
          <a href="#" class="button">Button</a>
          <a href="#" class="button">Button</a>
        </div>
      </div>
    </div>
  </header>
  <div class="app-nav">
    <div class="row expanded">
      <div class="columns">
        <nav>
          <ul>
            <li>
              <a href="#">Link 1</a>
            </li>
            <li>
              <a href="#">Link 2</a>
            </li>
            <li>
              <a href="#">Link 3</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
