<nav class="row mtm">
  <div class="columns">
    <ol class="breadcrumbs">
      <li><a href="https://phila.gov">
        <i class="fas fa-home" aria-hidden="true"></i><span class="accessible">City of Philadelphia Home</span></a>
      </li>
      {{ if eq .Title "Home"}}
        <li>{{ $.Site.Title }}</li>
        {{ else }}
        <li><a href="{{ $.Site.BaseURL }}">{{ $.Site.Title }}</a></li>
          {{ $bc := $.Scratch.Get "Breadcrumbs"  }}
            {{ print $bc | safeHTML }}
      <li>{{ .Title }}</li>
      {{ end }}
    </ol>
  </div>
</nav>
