<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .Title }} | Digital Standards | City of Philadelphia</title>
    <link rel="canonical" href="{{ .Permalink }}">
    <link href="{{ .Site.BaseURL }}/css/standards.css" rel="stylesheet">
    <style type="text/css">{{ partial "hero.css" . | safeCSS }}</style>

    <link rel="shortcut icon" type="image/x-icon" href="{{ .Site.BaseURL }}/img/favicon.png">
    
    <link type="text/css" href="{{ .Site.BaseURL }}/css/styles.css" rel="stylesheet">

    {{ partial "social-media.html" . }}

  </head>
  <body lang="en">
  <header class="global-nav pbm pbn-mu mbn-mu">
    {{ partial "global-header.html" . }}
  </header>
    {{ partial "site-header.html" . }}
    {{ partial "breadcrumbs.html" . }}
  <main>
