<!-- Begin mobile navigation -->
<div class="primary-menu medium-15 medium-push-2 small-24 columns equal valign-mu" id="mobile-nav">
  <div class="top-bar-right valign-mu show-for-small-only">
    <nav data-swiftype-index="false" class="valign-mu">
      <ul id="mobile-nav-drilldown" class="vertical menu pan valign-mu">
        <li>
          <a href="https://phila.gov"><i class="fas fa-home fa-lg"></i> Phila.gov home</a>
        </li>
        <li>
          <a href="https://phila.gov/services" class="valign-cell"><i class="fas fa-list show-for-small-only"></i> Service directory</a>
        </li>
        <li>
          <a href="https://phila.gov/programs-initiatives/" class="valign-cell"><i class="fas fa-info-circle"></i> Programs &amp; initiatives</a>
        </li>
        <li><a href="https://phila.gov/news/" class="valign-cell"><i class="fas fa-microphone"></i> News &amp; events</a>
        </li>
        <li>
          <a href="https://phila.gov/documents/" class="valign-cell"><i class="fas fa-file-text"></i> Publications &amp; forms</a>
        </li>
        <li class="bg-sidewalk">
          <a href="https://phila.gov/mayor/"><i class="fas fa-university"></i> Mayor's Office</a>
        </li>
        <li class="bg-sidewalk"><a href="https://phila.gov/departments/"><i class="fas fa-sitemap"></i> City government directory</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
<!-- End mobile navigation-->
