<!-- Mobile Navigation -->
<div class="top-bar primary-menu medium-15 medium-push-2 small-24 columns equal valign-mu" id="mobile-nav">
  <div class="top-bar-right valign-mu show-for-small-only">
    <nav data-swiftype-index="false" class="valign-mu">
      <ul class="vertical menu pan valign-mu mobile-nav-drilldown">
        <li>
          <a href="http://beta.phila.gov"><i class="fa fa-home fa-lg"></i> Home</a>
        </li>
        <li>
          <a href="http://beta.phila.gov/services" class="valign-cell"><i class="fa fa-list show-for-small-only"></i>Service directory</a>
        </li>
        <li>
          <a href="http://beta.phila.gov/programs-initiatives/" class="valign-cell"><i class="fa fa-info-circle"></i> Programs &amp; initiatives</a>
        </li>
        <li><a href="http://beta.phila.gov/news/" class="valign-cell"><i class="fa fa-microphone"></i> News &amp; events</a>
        </li>
        <li>
          <a href="http://beta.phila.gov/documents/" class="valign-cell"><i class="fa fa-file-text"></i> Publications &amp; forms</a>
        </li>
        <li class="bg-sidewalk">
          <a href="http://beta.phila.gov/mayor/"><i class="fa fa-university"></i> Mayor's Office</a>
        </li>
        <li class="bg-sidewalk"><a href="http://beta.phila.gov/departments/"><i class="fa fa-sitemap"></i> City government directory</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
