<div class="search-pane global-nav">
  <div class="dropdown-pane site-search-dropdown" data-dropdown data-v-offset="0" data-hover-pane="true" data-trap-focus="true" data-close-on-click="true" data-auto-focus="true" id="search-dropdown">
    <div class="row columns expanded bg-ghost-gray">
      <div class="row arrow">
        <div class="medium-16 columns small-centered">
          <div class="paxl">
            <form role="search" method="get" id="search-form" action="https://phila.gov/search/">
              <label for="search-field" class="show-for-sr">Search form</label>
              <div class="search">
                <input type="text" class="search-field" placeholder="Search" value="" name="stq" title="Search" id="search-field">
                <input type="submit" class="search-submit" value="submit">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
