<!-- Begin service mega menu -->
<div id="services-list" class="global-nav show-for-medium" data-swiftype-index="false">
  <div id="services-mega-menu" class="dropdown-pane mega-menu-dropdown" data-dropdown data-v-offset="0" data-hover-pane="true" data-trap-focus="true" data-hover="true" data-close-on-click="true">
    <div class="inner-wrapper">
      <div class="row expanded mbxs" data-equalizer data-equalize-by-row="true" data-services-menu>
      </div>
        <div class="row expanded collapse bg-ghost-gray mega-menu-footer">
          <div class="medium-8 float-right white bg-dark-ben-franklin left-arrow-indent">
          <div class="valign">
            <a href="http://beta.phila.gov/services/" class="phl valign-cell service-directory">Service directory</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End service mega menu -->
