<div id="services-list" class="global-nav show-for-medium" data-swiftype-index="false">
  <div class="dropdown-pane mega-menu-dropdown" data-dropdown data-v-offset="0" data-hover-pane="true" data-trap-focus="true" data-hover="true" data-close-on-click="true" id="services-mega-menu">
    <div class="inner-wrapper">
      <div class="row expanded mbxs" data-equalizer data-equalize-by-row="true">
        <div class="medium-8 columns end">
          <div class="valign">
            <div class="valign-cell">
              <a href="http://beta.phila.gov/services/birth-marriage-life-events/" data-equalizer-watch><span><i class="fa fa-hourglass fa-2x phm"></i> Birth, marriage, &amp; life events</span></a>
                </div>
              </div>
            </div>
            <div class="medium-8 columns end">
              <div class="valign">
                <div class="valign-cell">
                  <a href="http://beta.phila.gov/services/business-self-employment/" data-equalizer-watch><span><i class="fa fa-gears fa-2x phm"></i> Business &amp; self-employment</span></a>
                </div>
              </div>
            </div>
            <div class="medium-8 columns end">
              <div class="valign">
                <div class="valign-cell">
                  <a href="http://beta.phila.gov/services/cars-parking-transportation/" data-equalizer-watch><span><i class="fa fa-car fa-2x phm"></i> Cars, parking, &amp; transportation</span></a>
                </div>
              </div>
            </div>
          </div>
          <div class="row expanded mbxs" data-equalizer data-equalize-by-row="true">
          <div class="medium-8 columns end">
              <div class="valign">
                <div class="valign-cell">
                  <a href="http://beta.phila.gov/services/crime-law-justice/" data-equalizer-watch><span><i class="fa fa-gavel fa-2x phm"></i> Crime, law, &amp; justice</span></a>
                </div>
              </div>
            </div>
            <div class="medium-8 columns end">
              <div class="valign">
                <div class="valign-cell">
                  <a href="http://beta.phila.gov/services/culture-recreation/" data-equalizer-watch><span><i class="fa fa-futbol-o fa-2x phm"></i> Culture &amp; recreation</span></a>
                </div>
              </div>
            </div>
            <div class="medium-8 columns end">
              <div class="valign">
                <div class="valign-cell">
                  <a href="http://beta.phila.gov/services/diversity-inclusion-immigration/" data-equalizer-watch><span><i class="fa fa-users fa-2x phm"></i> Diversity, inclusion, &amp; immigration</span></a>
                </div>
              </div>
            </div>
            </div>
            <div class="row expanded mbxs" data-equalizer data-equalize-by-row="true">
              <div class="medium-8 columns end">
                <div class="valign">
                  <div class="valign-cell">
                    <a href="http://beta.phila.gov/services/education-learning/" data-equalizer-watch><span><i class="fa fa-book fa-2x phm"></i> Education &amp; learning</span></a>
                  </div>
                </div>
              </div>
              <div class="medium-8 columns end">
                <div class="valign">
                  <div class="valign-cell">
                    <a href="http://beta.phila.gov/services/mental-physical-health/" data-equalizer-watch><span><i class="fa fa-heartbeat fa-2x phm"></i> Mental &amp; physical health</span></a>
                  </div>
                </div>
              </div>
              <div class="medium-8 columns end">
                <div class="valign">
                  <div class="valign-cell">
                    <a href="http://beta.phila.gov/services/payments-assistance-taxes/" data-equalizer-watch><span><i class="fa fa-credit-card-alt fa-2x phm"></i> Payments, assistance, &amp; taxes</span></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row expanded mbxs" data-equalizer data-equalize-by-row="true">
            <div class="medium-8 columns end">
              <div class="valign">
                <div class="valign-cell">
                  <a href="http://beta.phila.gov/services/permits-violations-licenses/" data-equalizer-watch><span><i class="fa fa-file-text fa-2x phm"></i> Permits, violations, &amp; licenses</span></a>
                </div>
              </div>
            </div>
            <div class="medium-8 columns end">
              <div class="valign">
                <div class="valign-cell">
                  <a href="http://beta.phila.gov/services/property-lots-housing/" data-equalizer-watch><span><i class="fa fa-home fa-2x phm"></i> Property, lots, &amp; housing</span></a>
                </div>
              </div>
            </div>
            <div class="medium-8 columns end">
              <div class="valign">
                <div class="valign-cell">
                  <a href="http://beta.phila.gov/services/safety-emergency-preparedness/" data-equalizer-watch><span><i class="fa fa-ambulance fa-2x phm"></i> Safety &amp; emergency preparedness</span></a>
                </div>
              </div>
            </div>
          </div>
          <div class="row expanded mbxs" data-equalizer data-equalize-by-row="true">
          <div class="medium-8 columns end">
              <div class="valign">
                <div class="valign-cell">
                  <a href="http://beta.phila.gov/services/streets-sidewalks-alleys/" data-equalizer-watch><span><i class="fa fa-road fa-2x phm"></i> Streets, sidewalks, &amp; alleys</span></a>
                </div>
              </div>
            </div>
            <div class="medium-8 columns end">
              <div class="valign">
                <div class="valign-cell">
                  <a href="http://beta.phila.gov/services/trash-recycling-city-upkeep/" data-equalizer-watch><span><i class="fa fa-trash fa-2x phm"></i> Trash, recycling, &amp; city upkeep</span></a>
                </div>
              </div>
            </div>
            <div class="medium-8 columns end">
              <div class="valign">
                <div class="valign-cell">
                  <a href="http://beta.phila.gov/services/trees-parks-the-environment/" data-equalizer-watch><span><i class="fa fa-leaf fa-2x phm"></i> Trees, parks, &amp; the environment</span></a>
                </div>
              </div>
            </div>
            </div>
            <div class="row expanded mbxs" data-equalizer data-equalize-by-row="true">
            <div class="medium-8 columns end">
              <div class="valign">
                <div class="valign-cell">
                  <a href="http://beta.phila.gov/services/water-gas-utilities/" data-equalizer-watch><span><i class="fa fa-wrench fa-2x phm"></i> Water, gas, &amp; utilities</span></a>
                </div>
              </div>
            </div>
            <div class="medium-8 columns end">
              <div class="valign">
                <div class="valign-cell">
                  <a href="http://beta.phila.gov/services/working-jobs/" data-equalizer-watch><span><i class="fa fa-briefcase fa-2x phm"></i> Working &amp; jobs</span></a>
                </div>
              </div>
            </div>
            <div class="medium-8 columns end">
              <div class="valign">
                <div class="valign-cell">
                  <a href="http://beta.phila.gov/services/zoning-planning-development/" data-equalizer-watch><span><i class="fa fa-map fa-2x phm"></i> Zoning, planning, &amp; development</span></a>
                </div>
              </div>
            </div>
          </div>
        <div class="row expanded collapse bg-ghost-gray mega-menu-footer">
          <div class="medium-8 float-right white bg-ben-franklin-blue left-arrow-indent">
          <div class="valign">
            <a href="/services/" class="phl valign-cell service-directory">Service directory</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
