{{ $currentNode := . }}
{{ $currentParent := .Menus.main.Parent }}
{{ $currentSideParent := .Menus.side.Parent }}

{{ $dropdown := .Params.dropdown }}

<nav data-swiftype-index="false" id="side-nav">
  <ul class="vertical menu">
    {{ if eq $dropdown true  }}
      <li class="current_page_item"><a href="{{.URL}}">Overview</a></li>
      {{ range (index .Menus "main").Children }}
        {{ if eq .Identifier "" }}
          {{/* Use "pre" menu template to hide 3rd level content from top-level page view */}}
          {{ $pre := .Pre | string }}
          {{ if ne $pre "hide" }}
            <li class="{{if $currentNode.IsMenuCurrent "side" . }} current_page_item{{end}}">
              <a href="{{.URL}}">{{ .Name }}</a>
            </li>
          {{ end }}
        {{ else }}
          <li class="{{if $currentNode.IsMenuCurrent "side" . }}current_page_item{{end}} {{if $currentNode.HasMenuCurrent "side" . }} current_page_ancestor current_page_parent{{else}}page_item_has_children{{end}}">  <a href="{{ .URL }}">{{ .Name }}</a></li>
        {{ end }}
      {{ end }}
  {{else}} {{/* this isn't in a dropdown */}}
    {{ range $.Site.Menus.side }}
      {{ if .HasChildren }}
        {{ if in .URL $currentParent }}
          {{/* menus should only display children within the current section */}}
          <li class="{{if $currentNode.IsMenuCurrent "side" . }}current_page_item{{end}} {{if $currentNode.HasMenuCurrent "side" . }} current_page_ancestor current_page_parent{{else}}page_item_has_children{{end}}">
            <a href="{{ .URL }}">{{ .Name }}</a>
            <ul class="children{{if $currentNode.HasMenuCurrent "side" . }} current_page_parent{{end}}">
            {{ range .Children }}
              <li class="{{if $currentNode.IsMenuCurrent "side" . }}current_page_item{{end}}"><a href="{{.URL}}">{{ .Name }}</a> </li>
          {{ end }}
        </ul>
        {{end}}
      {{ else }}
        {{ if in .URL $currentParent  }}
          <li class="{{if $currentNode.IsMenuCurrent "side" . }} current_page_item{{end}}">
            <a href="{{.URL}}">{{ .Name }}</a>
          </li>
        {{ end }}
      {{ end }}
    {{ end }}
    </ul>
  {{ end }}
</nav>
