{{ $page := .page }}
{{ $site := .site }}

{{ range .menu }}
  {{ $is := $page.IsMenuCurrent "main" . }}
  {{ $is_parent := $page.HasMenuCurrent "main" . }}
  {{ $pre := .Pre | string }}

    {{ if .HasChildren }}
      {{ if not (or $is $is_parent) }}
        <li class="{{ if $is }}current_page_item {{end}}{{if $is_parent}}current_page_ancestor current_page_parent {{end}}page_item_has_children {{if eq $pre "hide"}}hide{{end}}">
          <a href="{{ .URL }}">{{ .Name }}</a>
        {{end}}
          <!-- Only render sub-menu for parent items and the current item -->
          {{ if or $is_parent $is }}
            {{if eq $pre "hide"}}
              {{/* do nothing */}}
            {{else}}
              <li class="{{ if $is }}current_page_item {{end}}{{ if not (or $is $is_parent) }}page_item_has_children {{end}} {{if $is_parent}}current_page_ancestor current_page_parent {{end}}">
              <a href="{{ .URL }}">{{ .Name }}</a>
            {{end}}
              <ul {{ if or $is $is_parent }}{{if eq $pre "hide"}}{{else}} class="children"{{end}}{{end}}>
                {{ partial "side-menu.html" (dict "menu" .Children "page" $page "site" $site ) }}
              </ul>
          </li>
      {{ end }}
      </li>
    {{ else }}
      <li class="{{ if $is }}current_page_item {{end}}{{ if .HasChildren  }}page_item_has_children {{end}} {{if $is_parent}}current_page_ancestor current_page_parent {{end}}{{if eq $pre "hide"}}hide{{end}}">
        <a href="{{ .URL }}">{{ .Name }}</a>
      </li>
    {{ end }}
  {{ end }}
