<div id="page">
  <div id="content">
    <header>
      <div class="hero-content">
        <div class="hero-wrap">
          <div class="row expanded pbl">
            <div class="medium-14 small-centered columns text-overlay">
              <h1><span class="h3 break-after">City of Philadelphia</span> Digital Standards</h1>
              </div>
            </div>
          </div>
          <!-- Begin site navigation -->
            <div class="row">
              <div class="small-24 columns">
                <div class="mbm-mu" id="site-nav">
                  <nav data-swiftype-index="false">
                    <ul class="secondary-menu vertical medium-horizontal menu dropdown" data-responsive-menu="accordion medium-dropdown">
                      {{ $currentNode := . }}
                      {{ range  $.Site.Menus.main }}
                        {{if $currentNode.HasMenuCurrent "main" . }}
                          {{ $.Scratch.Add "Breadcrumbs" ( print "<li><a href=''>" .Name "</a></li>" )  }}
                        {{end}}
                        {{ if .HasChildren  }}
                        <li class="menu-item is-right-arrow{{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }} current-menu-item{{end}}">
                        <a href="javascript:;" class="">{{ .Name }}</a>
                          <ul class="menu vertical nested">
                            {{ range .Children }}
                            {{if $currentNode.HasMenuCurrent "main" . }}
                              {{ $.Scratch.Add "Parent" (print .Name ) }}
                              {{ $.Scratch.Add "Breadcrumbs" ( print "<li><a href='" .URL  "'>" .Name "</a></li>" )  }}
                            {{end}}
                              <li{{if $currentNode.IsMenuCurrent "main" . }} class="current-menu-item"{{end}}>
                                <a href="{{.URL}}"> {{ .Name }} </a>
                              </li>
                            {{ end }}
                        </ul>
                      {{else}}
                        <li{{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }} class=" current-menu-item"{{end}}>
                        <a href="{{.URL}}">{{ .Name }}</a>
                      {{end}}
                      </li>
                      {{end}}
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          <!-- End site navigation -->
        </div>
      </header>
