<div id="page">
  <div id="content">
    <article>
      <header>
        <div class="hero-content" style="background-image:url(https://beta.phila.gov/media/20161028135129/revenue-cover-photo.jpg) ">
          <div class="hero-wrap">
            <div class="row expanded pbl">
              <div class="medium-14 small-centered columns text-overlay">
                <h1><span class="h3 break-after">City of Philadelphia</span> Digital Standards</h1>
                </div>
            </div>
            <div class="show-for-medium">
              <div class="row department-nav">
                <div class="small-24 columns">
                  <div class="top-bar mbm-mu" id="site-nav">
                    <nav data-swiftype-index="false">
                      <ul class="secondary-menu vertical medium-horizontal menu dropdown" data-responsive-menu="drilldown medium-dropdown">
                        {{ $currentNode := . }}
                        {{ range .Site.Menus.main }}
                          {{ if .HasChildren }}
                          <li class="menu-item is-right-arrow{{if $currentNode.HasMenuCurrent "main" . }} current-menu-item{{end}}">
                          <a href="javascript:;" class="">{{ .Name }}</a>
                            <ul class="menu">
                              {{ range .Children }}
                              <li{{if $currentNode.IsMenuCurrent "main" . }} class="current-menu-item"{{end}}><a href="{{.URL}}"> {{ .Name }} </a> </li>
                              {{ end }}
                          </ul>
                        {{else}}
                          <li {{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }} class=" current-menu-item"{{end}}>
                          <a href="{{.URL}}">{{ .Name }}</a>
                        {{end}}
                        </li>
                        {{end}}
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </header>
