<meta name="twitter:card" content="summary">
<meta property="og:title" content="{{ .Title }}">
{{ if eq .Title "Home"}}
  <meta property="og:description" content="{{ .Site.Params.Description }}">
  {{else}}
  <meta property="og:description" content="{{ .Params.description }}">
{{end}}
<meta property="og:type" content="website">
<meta property="og:url" content="{{ .Site.BaseURL }}">
<meta property="og:site_name" content="standards.phila.gov">
<meta property="og:image" content="https://beta.phila.gov/media/20160715133810/phila-gov.jpg">
