//TODO: refacor this file
.global-nav {
  @include secondary-font(400);
  position: relative;
  z-index: 1000;

  &.no-js {
    //prevent content from jumping down after JS is loaded
    min-height: 95px;
  }

  .js-is-current {
    color:color(white);
    background: color(ben-franklin-blue);
    &:hover,
    &:active{
      color:color(ben-franklin-blue);
      background: color(light-blue);
    }
  }

  a:link, a:visited {
    font-weight: normal;
    @media screen and (min-width: 40em) {
      font-size: .85rem;
    }
    @media screen and (min-width: 40em) and (max-width: 63.9375em) {
      font-size: .75rem;
    }
  }
  //utility nav
  //TODO: deprecate .secondary-nav in this location.
  .secondary-nav,
  .utility-nav {
    font-size: .85rem;

    @media screen and (max-width: 39.9375em) {
      height:10px;
    }

    ul {

      li {
        &:last-of-type::after {
          content: none;
        }
        &::after {
          content: '|';
          display: inline;
          background: color(ben-franklin-blue);
          color: rgba(color(light-ben-franklin), .6);
        }

        a {
          color: color(white);
          padding: $spacing-small;
          display: inline-block;
          text-align: center;

          &:hover,
          &:active{
            background: color(light-blue);
            color:color(dark-ben-franklin);
          }
          &.js-is-current{
            background:color(dark-gray);
            color:color(white);
            &:hover,
            &:active{
              color:color(dark-ben-franklin);
              background: color(light-blue);
            }
          }
        }
      }
    }
  }

  .sticky{
    background: color(white);
    width: 100% !important;
    max-width: 100% !important;
    left:0 !important;

    &.is-stuck{
      box-shadow: 0 3px 10px rgba(color(medium-gray), .5);
    }

    @include breakpoint(small only) {
      position: relative;
      z-index: auto;
    }

  }

  .title-bar {
    color:color(dark-ben-franklin);
    position: absolute;
    z-index: 10;

    .menu-icon {
      position: relative;
    }

    .menu-icon {
      width: auto;
      height: auto;
      padding: .75rem;
      margin-left:0;
      color: color(dark-ben-franklin);

      .fa {
        display: block;
      }

      &:after, &:before {
        background: color(ben-franklin-blue);
        box-shadow: none;
        height: 0;
      }
      &.active {
        background-color: color(ghost-gray);
        color: color(dark-ben-franklin);
      }
    }
    .title-bar-title {
      margin: 0;
      font-size: .8rem;
      text-transform: uppercase;
    }
  }

  .is-drilldown-submenu-parent a::after {
    margin-top:-6px;
  }


  .is-drilldown {
    overflow: visible;

    ul {
      background: color(ghost-gray);
      width: 100%;
      height: inherit;
      margin: 0;
      padding:0;
      bottom:0;

      li {
        background: color(ghost-gray);
        list-style: none;
        border-bottom: 1px solid color(white);
        &.bg-sidewalk{
          background: color(sidewalk);
        }
        &.js-drilldown-back{
          text-transform: uppercase;
          font-size:.9rem;
        }
        a{
          padding:1rem;
          display: block;


          &:hover,
          &:active {
            background: color(ben-franklin-blue);
            color:color(white);
          }
        }
      }
    }
    .is-drilldown-submenu-parent > a {
      &:hover::after,
      &:active::after{
        border-color:transparent transparent transparent color(white);
      }
    }
      .js-current-section{
        padding: .5rem 1rem;
        font-size: 1.3rem;
        text-transform: none;
      }
    }

    .js-drilldown-back{
      >a:hover::before,
      >a:active::before{
        border-color: transparent color(white) transparent transparent;
      }
    }

  @include breakpoint(small only) {
    .mega-menu-dropdown.dropdown-pane{
      display: none;
    }

    .top-bar{
      background-color: color(ghost-gray);
      position: absolute;
      z-index:11;
      //overflow: scroll;
      //height:200px;
      //TODO: calcuate this w/ js
      //top:83px;
      &.no-js{
        display:none;
      }
    }

  }


  @include breakpoint( medium ) {
    .services-menu-link {
      position: static;
    }

    .menu.medium-horizontal>li{
      height:inherit;
    }
    .primary-menu {
      ul {
        background-color:color(white);
      }
      .menu>li {
        > a {
          text-align: center;
          height: inherit;

          text-transform: uppercase;

          padding: $spacing-large 1.5rem;
        }
        a:active, a:hover {
          color: color(dark-ben-franklin);
          background: color(light-blue);
        }
      }
    }
    .services-menu-link {
      position: relative;
      height:inherit;

      ul {
        li {
          display:none;
        }
      }
      //TODO: some of this could be cleaned up
      //big arrow
      &.hover::after{
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-left: 1rem solid transparent;
        border-right: 1rem solid transparent;

        border-bottom: 1rem solid color(ghost-gray);
        bottom:0;
        left:38%;
        right:50%;
        position: absolute;

      }
       //this is to account for when the dropdown panel is visible AND when the normal :hover state is active
      &.hover {
        background: color(ben-franklin-blue);

        //panel is open
        a{
          color: color(white);
          &:hover::after,
          &:active::after{
            border-color: transparent transparent color(dark-ben-franklin);
          }
          &.js-is-current{
            &::after{
              border-color: transparent transparent color(white);
            }
            //panel is open, and there is hover
            &:hover::after,
            &:active::after{
              border-color: transparent transparent color(dark-ben-franklin);
            }
          }
          //little arrow
         &::after{
            content: '';
            display: inline;
            width: 0;
            height: 0;
            border: inset 5px;
            border-color: transparent transparent color(white);
            border-bottom-style: solid;
            border-top-width: 0;
            height: 0;
            left: 74%;
            position: absolute;
            margin: auto 0;
            float: none;
            top: 0;
            bottom: 0;
            height: 10px;
          }
        }
      }
      //not open
      a {
        padding: $spacing-large 2.5rem $spacing-large 1.5rem !important;
        height: inherit;

        @media screen and (min-width: 40em) and (max-width: 50em) {
          padding: 1rem 2rem;
        }

       &:hover::after,
       &:active::after{
        border-color: color(ben-franklin-blue) transparent transparent transparent;

       }
       &::after {
        //little arrow
        content: '';
        display: inline;
        width: 0;
        height: 0;
        border: inset 5px;
        border-color: color(dark-ben-franklin) transparent transparent;
        border-top-style: solid;
        border-bottom-width: 0;
        left: 74%;
        position: absolute;
        margin: auto 0;
        float: none;
        top: 0;
        bottom: 0;
        height: 10px;
       }
        &.js-is-current {
          color:color(white);
          background: color(ben-franklin-blue);

          &::after{
            border-color: color(white) transparent transparent transparent;
          }
          &:hover::after,
          &:active::after{
            border-color: color(dark-ben-franklin) transparent transparent  transparent;
          }
        }
      }
    }
  }

  .dropdown-pane{
    max-width: 100% !important;
    width:100% !important;
    border: 0;
    padding: 0;
    font-size: 1rem;
    left: 0 !important;
    z-index: 10000;
    position: fixed;

    &.mega-menu-dropdown{
      height:100%;
    }

    .columns {
      text-align: left;
      padding-left: 0;
      padding-right: 0;

       &:nth-of-type(2){
        padding-left: .25rem;
        padding-right: .25rem;
      }

      a {
        padding: 1.5rem;
        display:block;
        background-color: color(ghost-gray);
        width: 100%;

        &:hover {
          color:color(white);
          background: color(ben-franklin-blue);
        }
        span{
          display:block;
        }
      }
    }
    .mega-menu-footer {
      a {
        padding: 1.5rem 4rem;

        color: color(white);
        &:hover {
          background:color(white);
          color:color(ben-franklin-blue);
        }
      }
      .left-arrow-indent{
        position: relative;
        &:before {
          content: '';
          width: 0;
          height: 0;
          border-top: 30px solid transparent;
          border-bottom: 30px solid transparent;
          border-left: 30px solid color(ghost-gray);
          position: absolute;
          left:0;
          right:0;
          top:0;
          bottom:0;
          margin: auto 0;
        }
      }
    }
  }

  .dropdown.menu{
    a{
      //added to override patterns display:block
      display:inherit;
    }
  }

  #services-list{
    .inner-wrapper{
      width:100%;
      height:100%;
      background: transparent;
      overflow: scroll;
    }
  }

  button.site-search {
    font-size:.5rem;
    position: relative;
    padding: 1rem 0;
    cursor: pointer;

    @include breakpoint(small only) {
      font-size: .7rem;
      float:right;
      //matches padding on menu-icon
      padding-top: .75rem;
      padding-bottom: .75rem;

      .fa{
        padding-bottom: $spacing-small;
        font-size: 3.7em;
        display: block;
      }
    }
    color:color(dark-ben-franklin);
    text-transform: uppercase;

  }

}

header {
  .logo svg,
  .logo img{
    max-width:170px;
    max-height:45px;
    display: block;
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;

    &:hover{
      opacity: .6;
    }

    @include breakpoint(medium down) {
      margin:$spacing-medium auto 0;
    }
  }
}
//Global search
.site-search-dropdown{
  .search {
    width: 100%;
    position: relative;

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      width: 2.8rem;
      height: 2.8rem;
      font-family: 'FontAwesome';
      content: '\f002';
      text-align: center;
      background: color(dark-ben-franklin);
      color: color(white);
      font-weight: normal;
      padding: .57143rem;
    }

    .search-field{
      border:2px solid color(dark-ben-franklin);
      background: color(white);
    }

    input[type="text"]{
      background: color(white);
    }
    input[type="submit"] {
      z-index:10;
      position: absolute;
      top: 0;
      right: 0;
      width: 2.8rem;
      height: 2.8rem;
      opacity: 0;
      cursor: pointer;
    }
  }
  .arrow{
    position: relative;

    &::before{
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-left: 1rem solid transparent;
      border-right: 1rem solid transparent;
      border-bottom: 1rem solid color(ghost-gray);
      top:-1rem;
      position: absolute;
      right:.6rem;

      @include breakpoint(medium) {
        right: 1rem;
      }
    }
  }
}
