#site-nav{
  text-transform: uppercase;

  ul{
    margin:0;
    padding:0;

      li{
        border-bottom:1px solid color(sidewalk);

      &:last-child{
          border-bottom: none;
        }
      }
    }

  li{
    &.is-active > a {
      background: color(ben-franklin-blue);
      color:color(white);
    }

    a:hover {
      background: color(ben-franklin-blue);
      color:color(white);
    }
    a{
      color:color(dark-gray);
      font-weight:700;
    }
    ul li{
      text-align: left;
      li{
        text-align: left;
      }
    }

  }
}
