#style-guide .sg-swatch{
  padding-right: 2rem;
}
#style-guide .sg-swatch--top{
  border-style: solid;
  border-width: 2rem;
  border-radius: 10px 10px 0 0;
  padding:1rem;
}
#style-guide .sg-swatch--top--bordered {
  border-style: dotted;
  border-width: .5rem;
  height:6rem;
}
#style-guide .sg-swatch--bottom{
  background: #f0f0f0;
  border: .5rem solid #f0f0f0;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 3px #cfcfcf;
}
#style-guide .sg-hover-example{
  background-color: #444;
  color: #fff;
}
#style-guide .sg-hover-example::after{
  border-left-color: #444;
}

/* Syntax highlighting*/
#style-guide .highlight{
  padding: 1rem;
  color: #f0f0f0;
  width: 100%;
  overflow-y: scroll;
}
