{{ partial "head.html" . }}
{{ $currentNode := . }}
{{ $currentParent := .Menus.main.Parent }}
{{ $dropdown := .Params.dropdown }}

<div class="row">
  <div class="columns">
    <h1 class="contrast">
      {{ if isset $.Params "dropdown" }}
        {{ .Title }}
      {{else}}
        {{ $parent := $.Scratch.Get "Parent"  }}{{ print $parent }}
      {{ end }}
  </div>
</div>
<div class="topic-page row bdr-bottom bdr-sidewalk mtm" data-equalizer="page">
  <div class="side-menu medium-7 columns bdr-right bdr-sidewalk pbxl" data-equalizer-watch="page">
    {{ partial "side-menu.html" . }}
  </div>
  <div id="style-guide" class="medium-16 columns pbxl" data-equalizer-watch="page">
    <section>
      {{ if isset $.Params "level" }}{{ else }}
        <h2 class="mtn">{{ .Title }}</h2>
      {{ end }}
      <p>{{ .Description }}</p>
      {{ .Content }}
      <nav>

        <div class="row equal-height fat-gutter">
        {{ if eq $dropdown true  }}
          {{ range $index, $menu := (index .Menus "main").Children }}
            {{ if eq .Identifier "" }}
              {{/* Use "pre" menu template to hide 3rd level content from top-level page view */}}
              {{ $pre := .Pre | string }}
              {{ if ne $pre "hide" }}
                <div class="small-24 medium-8 column end">
                  <a href="{{ .URL }}" class="card card--overview equal">
                    <div class="content-block">
                      <h3>{{ .Name }}</h3>
                      <p></p>
                    </div>
                  </a>
                </div>
              {{ end }}
            {{ else }}
              {{ range $index, $menuSide := $.Site.Menus.side }}
                {{ if .HasChildren }}
                  <div class="small-24 medium-8 column end">
                    <a href="{{ .URL }}" class="card card--overview equal">
                      <div class="content-block">
                        <h3>{{ .Name }}</h3>
                        <p></p>
                      </div>
                    </a>
                  </div>
                {{ end }}
              {{ end }}
            {{ end }}
          {{ end }}
        {{else}} {{/* this isn't in a dropdown */}}
          {{ range $.Site.Menus.side }}
            {{ if .HasChildren }}
              {{ if in .URL $currentParent }}
                  {{ range .Children }}
                    <div class="small-24 medium-8 column end">
                      <a href="{{ .URL }}" class="card card--overview equal">
                        <div class="content-block">
                          <h3>{{ .Name }}</h3>
                          <p></p>
                        </div>
                      </a>
                    </div>
                  {{ end }}
                {{end}}
            {{ end }}
          {{ end }}
        {{ end }}
        </div>
      </nav>
    </section>
  </div>
</div>

{{ partial "footer.html" . }}
<link type="text/css" href="{{ .Site.BaseURL }}/css/standards.css" rel="stylesheet">
