{{ $currentNode := . }}
{{ $currentParent := .Menus.main.Parent }}
{{ $currentSideParent := .Menus.side.Parent }}

<nav data-swiftype-index="false" id="side-nav">
  <ul class="vertical menu">
    {{/* TODO: Make this less-specific, maybe use front matter */}}
    {{ if eq $currentParent "guidelines" }}
      {{ if ne .Params.menu.main.identifier nil }}
        <li class="current_page_item"><a href="{{.URL}}">Overview</a></li>
        {{ range (index .Menus "main").Children }}
          {{ if eq .Identifier "" }}
            <li class="{{if $currentNode.IsMenuCurrent "side" . }} current_page_item{{end}}">
              <a href="{{.URL}}">{{ .Name }}</a>
            </li>
          {{ else }}
            {{ range $.Site.Menus.side }}
              {{ if .HasChildren }}
                <li class="{{if $currentNode.IsMenuCurrent "side" . }}current_page_item{{end}} {{if $currentNode.HasMenuCurrent "side" . }} current_page_ancestor current_page_parent{{else}}page_item_has_children{{end}}">  <a href="{{ .URL }}">{{ .Name }}</a></li>
              {{ end }}
            {{ end }}
          {{ end }}
        {{ end }}
      {{ end }}
    {{else}}
      {{ range $.Site.Menus.side }}
        {{ if .HasChildren }}
          {{/*prevent nested content from appearing in incorrect menus */}}
          {{ if ne $currentSideParent "" }}
            <li class="{{if $currentNode.IsMenuCurrent "side" . }}current_page_item{{end}} {{if $currentNode.HasMenuCurrent "side" . }} current_page_ancestor current_page_parent{{else}}page_item_has_children{{end}}">
              <a href="{{ .URL }}">{{ .Name }}</a>
              <ul class="children{{if $currentNode.HasMenuCurrent "side" . }} current_page_parent{{end}}">
              {{ range .Children }}
                <li class="{{if $currentNode.IsMenuCurrent "side" . }}current_page_item{{end}}"><a href="{{.URL}}">{{ .Name }}</a> </li>
              {{ end }}
            </ul>
          {{ end }}
        {{ else }}
          {{ if in .URL $currentParent  }}
            <li class="{{if $currentNode.IsMenuCurrent "side" . }} current_page_item{{end}}">
              <a href="{{.URL}}">{{ .Name }}</a>
            </li>
          {{ end }}
        {{ end }}
      {{ end }}
      </ul>
  {{ end }}
</nav>
