$colors: (
  ben-franklin-blue: #2176d2,
  dark-ben-franklin: #0f4d90,
  light-ben-franklin: #96c9ff,
  electric-blue: #25cef7,

  bell-yellow: #f3c613,
  light-bell: #ffefa2,

  kelly-drive-green: #58c04d,
  light-kelly-drive: #b9f2b1,

  flyers-orange: #f99300,
  light-red: #fed0d0,
  light-blue: #DAEDFE,

  black: #000000,
  dark-gray: #444,
  medium-gray: #a1a1a1,
  sidewalk: #cfcfcf,
  ghost-gray: #f0f0f0,
  white: #fff,

);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

@each $value in $colors {
  .#{nth($value, 1)} {
    color: nth($value, 2) !important;
  }
  .bg-#{nth($value, 1)} {
    background-color: nth($value, 2) !important;
  }
  .bdr-#{nth($value, 1)} {
    border-color: nth($value, 2) !important;
  }
}

//for some reason black isn't being parsed correctly with the above function, so we're doing it manually
.black {
  color: color(black);
}
.bg-black{
  background-color: color(black);
}
.bdr-black{
  border-color: color(black);
}
.white {
  color: color(white);
}
.bg-white{
  background-color: color(white);
}
.bdr-white{
  border-color:color(white);
}

.bdr-all{
  border-width: 1px;
  border-style: solid;
}

.bdr-bottom{
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.bdr-right{
  border-right-width: 1px;
  border-right-style: solid;
}
.bdr-left{
  border-left-width: 1px;
  border-left-style: solid;
}
.bdr-top{
  border-top-width: 1px;
  border-top-style: solid;
}

.bdr-right-mu {
  border-right: 0;
  @media screen and (min-width: 40em) {
    border-right-width: 1px;
    border-right-style: solid;
  }
}

.nbdr-right-mu {
  @media screen and (min-width: 40em) {
    border-right-width: 0px;
    border-right-style: solid;
  }
}

.bdr-bottom-sm {
  border-bottom: 1px;
  border-bottom-style: solid;
  @media screen and (min-width: 40em) {
    border-bottom-width: 0px;
  }
}


//standard spacing
$spacing-none: 0;
$spacing-extra-small: .25rem;
$spacing-small: .5rem;
$spacing-medium: 1rem;
$spacing-large: 2rem;
$spacing-extra: 4rem;
$spacing-extra-large: 6rem;
$spacing-extra-extra-large: 10rem;
