{{ partial "head.html" . }}

  <div class="row">
    <div class="columns">
      <h1 class="contrast">
        {{ if isset $.Params "level"}}
          {{ .Title }}
        {{else}}
          {{ $parent := $.Scratch.Get "Parent"  }}{{ print $parent }}
        {{ end }}
    </div>
  </div>

<div class="row equal-height border-bottom-sidewalk mtm">
  <div class="medium-7 columns border-right-sidewalk equal pbxl">
    {{ partial "side-menu.html" . }}
  </div>
  <div class="medium-16 columns equal pbxl">
    <section>
      {{ if isset $.Params "level"}}{{else}}
        <h2 class="mtn">{{ .Title }}</h2>
      {{end}}
      <div>
        <article>
           {{ .Content }}
        </article>
      </div>
    </section>
  </div>
</div>
{{ partialCached "footer.html" . }}
<link type="text/css" href="{{ .Site.BaseURL }}/css/standards.css" rel="stylesheet">
