/*
 *
 * Buttons
 *
 *
*/

.button {
  @include secondary-font(700);
  background: transparent;
  color: color(dark-gray);
  text-transform: uppercase;
  height:40px;

  &:focus {
    background: none;
  }
  &.icon {
    display: inline-block;
    position: relative;

    .button-label{
      text-align: left;
    }

    .fa {
      background: color(dark-gray);
      color:color(white);
      margin-right: .25rem;
      padding: .35em .5em .5em .35em;
      font-size: 1.7em;
      max-height: 40px;
      vertical-align: sub;
      position: static;
      width: 2.85714rem;
      display: inline-block;
    }

  }
  i.fa {
    color: color(dark-gray);
  }

  .button-label {
    background-color: color(electric-blue);
    min-height: 40px;
    padding-top:$spacing-small;
    padding-bottom:$spacing-small;
    padding-right: 1.42857rem;
    padding-left: 1.42857rem;
    text-align: center;
    letter-spacing: .03rem;
    width:100%;
  }

  &.outline {
    .button-label {
      background-color: color(white);
      border: 1px solid color(electric-blue);
    }
  }
}

a {
  &.button {
    &:link, &:visited {
      color: color(dark-gray);
      font-weight: 600;
      font-size: 1rem;
    }
    &:hover,
    &:active{
      i.fa {
        color:white;
      }
      background: none;
      color: color(white);
      .button-label {
        color: color(white);
        background: color(dark-gray);
        transition: background-color 300ms ease-in-out;
      }
    }
  }
  &.see-all-right {
    position: relative;
    text-transform: none;
    background: color(electric-blue);
    color: color(white);
    height: 20px;
    border:none;
    &::after{
      content: "";
      position: absolute;
      right:-15px;
      top:0;
      width: 0;
      height: 0;
      border-top: 13px solid transparent;
      border-bottom: 15px solid transparent;

      border-left: 15px solid color(electric-blue);
    }
    &:hover::after{
      border-left: 15px solid color(dark-gray);
      transition: border-color 300ms ease-in-out;

    }
  }

}
