<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Site title | City of Philadelphia</title>
  <link rel="stylesheet" type="text/css" href="/phila-app.css">
  <link rel="shortcut icon" type="image/x-icon" href="https://standards.phila.gov/img/favicon.png"> {{ partial "social-media.html" }}
</head>

<body lang="en">
  {{ partial "app-header.html" }}
  <main>
    <!-- Body content here -->
  </main>
  {{ partial "app-footer.html" }}
</body>

</html>
