<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Site title</title>
    <link rel="stylesheet" href="/phila-standards.css">

    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.png">
    {{ partial "social-media.html"  }}

  </head>
  <body lang="en">
  <header class="global-nav pbm pbn-mu mbn-mu">
    {{ partial "global-header.html" }}
  </header>
    {{ partial "site-header.html" }}
    {{ partial "breadcrumbs.html" }}
  <main>

    <!-- Body content here -->

{{ partial "footer.html" }}
