<div class="row">
  <div class="columns medium-10">
    <a href="#" class="button icon full-width">
      <div class="valign">
        <i class="fas fa-bullhorn valign-cell"></i>
        <div class="button-label valign-cell">Default with icon</div>
      </div>
    </a>
    <a href="#" class="button icon full-width">
      <div class="valign">
        <i class="fas fa-bullhorn valign-cell"></i>
        <div class="button-label valign-cell sg-hover-example">Hover with icon</div>
      </div>
    </a>
  </div>
  <div class="columns medium-6 end">
    <a href="#" class="button full-width">No icon</a>
    <a href="#" class="button full-width sg-hover-example mtm">Hover</a>
  </div>
</div>
