<div class="row">
  <div class="columns medium-9">
    <a href="#" class="button icon full-width">
      <div class="valign">
        <i class="fa fa-bullhorn valign-cell"></i>
        <div class="button-label valign-cell">Default with icon</div>
      </div>
    </a>
    <a href="#" class="button icon full-width">
      <div class="valign">
        <i class="fa fa-bullhorn valign-cell"></i>
        <div class="button-label valign-cell sg-hover-example">Hover with icon</div>
      </div>
    </a>
  </div>
  <div class="columns medium-6">
    <a href="#" class="button full-width">No icon</a>
    <a href="#" class="button full-width sg-hover-example mtm">Hover</a>
  </div>
  <div class="columns medium-6 end mts">
    <a class="button see-all-right" href="#" aria-label="See all">
      <div class="valign">
        <div class="button-label valign-cell">See all &raquo;</div>
      </div>
    </a>
    <a class="button see-all-right sg-hover-example mtm" href="#" aria-label="See all">
      <div class="valign">
        <div class="button-label valign-cell sg-hover-example">Hover &raquo;</div>
      </div>
    </a>
  </div>
</div>
