<div class="row equal-height">
  <div class="medium-12 columns end">
    <a href="http://philaliteracy.org" class="card card--action equal">
      <header>
        <span class="fa-stack fa-4x center" aria-hidden="true">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fas fa-link fa-stack-1x fa-inverse"></i>
        </span>
        <h3>Adult learning: GED or ESL support</h3>
      </header>
      <hr class="mll mrl">
      <div class="content-block">
        <p>The Office of Adult Education helps adults in Philadelphia get the education they need for work, family, and civic engagement.</p>
      </div>
    </a>
  </div>
  <div class="medium-12 columns end">
    <a href="http://philaliteracy.org" class="card card--action equal">
      <header>
        <span class="fa-stack fa-4x center" aria-hidden="true">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fas fa-link fa-stack-1x fa-inverse"></i>
        </span>
        <h3>KEYSPOTS: Free computer access</h3>
      </header>
      <hr class="mll mrl">
      <div class="content-block">
        <p>Free computer use, Internet access, and training are available at dozens of KEYSPOT locations across the city.</p>
      </div>
    </a>
  </div>
</div>
