<h3>Media cards</h3>
<div class="row equal-height">
  <div class="medium-12 columns">
    <a href="https://beta.phila.gov/news/oem/winter-weather-bringing-cold-high-winds-beginning-thursday/" class="card equal">
      <img width="660" height="430" src="https://beta.phila.gov/media/20170130104627/28755508826_274c07aa9b_k-660x430.jpg" alt="">
      <div class="content-block">
        <header>
          <h3 class="pvm">You Can Still Get Life-Saving Health Insurance, But You Have To Hurry</h3>
        </header>
        <span class="small-text">January 30, 2017</span>
        <span class="source">Department of Public Health, Office of the Mayor</span>
        <p>The Affordable Care Act is a great way to access the health care that you and your family need. But hurry, the deadline is Tuesday, 1/31!</p>
    </div>
    </a>
  </div>
  <div class="medium-12 columns">
    <a href="https://beta.phila.gov/news/oem/winter-weather-bringing-cold-high-winds-beginning-thursday/" class="card equal">
      <img width="660" height="430" src="https://beta.phila.gov/media/20161214150748/Snowadelphia-660x430.jpg" alt="">
      <div class="content-block">
        <header>
          <h3 class="pvm">Winter Weather Guide: Information on Safety, Health and Home</h3>
        </header>
        <span class="small-text">December 21, 2016</span>
        <span class="source">Office of Emergency Management</span>
        <p>The winter season goes through late March. Prepare yourself and your neighbors for what the hazards the season holds in store.</p>
    </div>
    </a>
  </div>
</div>

<h3>Call to action cards</h3>
<div class="row equal-height">
  <div class="medium-12 columns end">
    <a href="http://philaliteracy.org" class="card card--action equal">
      <header>
        <span class="fa-stack fa-4x center" aria-hidden="true">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-link fa-stack-1x fa-inverse"></i>
        </span>
        <h3>Adult learning: GED or ESL support</h3>
      </header>
      <hr class="mll mrl">
      <div class="content-block">
        <p>The Office of Adult Education helps adults in Philadelphia get the education they need for work, family, and civic engagement.</p>
      </div>
    </a>
  </div>
  <div class="medium-12 columns end">
    <a href="http://philaliteracy.org" class="card card--action equal">
      <header>
        <span class="fa-stack fa-4x center" aria-hidden="true">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-link fa-stack-1x fa-inverse"></i>
        </span>
        <h3>KEYSPOTS: Free computer access</h3>
      </header>
      <hr class="mll mrl">
      <div class="content-block">
        <p>Free computer use, Internet access, and training are available at dozens of KEYSPOT locations across the city.</p>
      </div>
    </a>
  </div>
</div>

<h3>Overview cards</h3>
<div class="row equal-height">
  <div class="small-24 medium-8 column end">
    <a href="https://beta.phila.gov/services/business-self-employment/apply-for-a-trade-license/" class="card card--overview equal">
      <div class="content-block">
        <h3>Apply for a trade license</h3>
        <p>Identifying and getting the necessary trade license to do business in Philadelphia.</p>
      </div>
    </a>
  </div>
  <div class="small-24 medium-8 column end">
    <a href="https://beta.phila.gov/services/business-self-employment/apply-for-a-trade-license/" class="card card--overview equal">
      <div class="content-block">
        <h3>Business taxes</h3>
        <p>Tax types and requirements for businesses that are located or operate in Philadelphia.</p>
      </div>
    </a>
  </div>
  <div class="small-24 medium-8 column end">
    <a href="https://beta.phila.gov/services/business-self-employment/apply-for-a-trade-license/" class="card card--overview equal">
      <div class="content-block">
        <h3>Find out what license you need for your business</h3>
        <p>Information and tools to help you determine which licenses and permits you need for your business.</p>
      </div>
    </a>
  </div>
</div>
