<div class="row equal-height">
  <div class="medium-12 columns">
    <a href="https://phila.gov/news/oem/winter-weather-bringing-cold-high-winds-beginning-thursday/" class="card equal">
      <img width="660" height="430" src="https://phila.gov/media/20170130104627/28755508826_274c07aa9b_k-660x430.jpg" alt="">
      <div class="content-block">
        <header>
          <h3 class="pvm">You Can Still Get Life-Saving Health Insurance, But You Have To Hurry</h3>
        </header>
        <span class="small-text">January 30, 2017</span>
        <span class="source">Department of Public Health, Office of the Mayor</span>
        <p>The Affordable Care Act is a great way to access the health care that you and your family need. But hurry, the deadline is Tuesday, 1/31!</p>
    </div>
    </a>
  </div>
  <div class="medium-12 columns">
    <a href="https://phila.gov/news/oem/winter-weather-bringing-cold-high-winds-beginning-thursday/" class="card equal">
      <img width="660" height="430" src="https://phila.gov/media/20161214150748/Snowadelphia-660x430.jpg" alt="">
      <div class="content-block">
        <header>
          <h3 class="pvm">Winter Weather Guide: Information on Safety, Health and Home</h3>
        </header>
        <span class="small-text">December 21, 2016</span>
        <span class="source">Office of Emergency Management</span>
        <p>The winter season goes through late March. Prepare yourself and your neighbors for what the hazards the season holds in store.</p>
    </div>
    </a>
  </div>
</div>
