<div class="row equal-height">
  <div class="small-24 medium-8 column end">
    <a href="https://beta.phila.gov/services/business-self-employment/apply-for-a-trade-license/" class="card card--overview equal">
      <div class="content-block">
        <h3>Apply for a trade license</h3>
        <p>Identifying and getting the necessary trade license to do business in Philadelphia.</p>
      </div>
    </a>
  </div>
  <div class="small-24 medium-8 column end">
    <a href="https://beta.phila.gov/services/business-self-employment/apply-for-a-trade-license/" class="card card--overview equal">
      <div class="content-block">
        <h3>Business taxes</h3>
        <p>Tax types and requirements for businesses that are located or operate in Philadelphia.</p>
      </div>
    </a>
  </div>
  <div class="small-24 medium-8 column end">
    <a href="https://beta.phila.gov/services/business-self-employment/apply-for-a-trade-license/" class="card card--overview equal">
      <div class="content-block">
        <h3>Find out what license you need for your business</h3>
        <p>Information and tools to help you determine which licenses and permits you need for your business.</p>
      </div>
    </a>
  </div>
</div>
