<div class="row equal-height">
  <div class="medium-12 columns">
    <a href="https://beta.phila.gov/news/oem/winter-weather-bringing-cold-high-winds-beginning-thursday/" class="card equal">
      <img width="660" height="430" src="https://beta.phila.gov/media/20161214150748/Snowadelphia-660x430.jpg" alt="">
      <div class="content-block">
        <h3 class="pvm">Winter Weather Guide: Information on Safety, Health and Home</h3>
        <span class="small-text">December 21, 2016</span>
        <span class="source">Office of Emergency Management</span>
        <p>The winter season goes through late March. Prepare yourself and your neighbors for what the hazards the season holds in store.</p>
    </div>
    </a>
  </div>

  <div class="medium-12 columns end">
    <a href="http://philaliteracy.org" class="card card--action">
      <div class="panel equal">
        <header>
          <div>
            <span class="fa-stack fa-4x center" aria-hidden="true">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-link fa-stack-1x fa-inverse"></i>
            </span>
          </div>
          <h3>Adult learning: GED or ESL support</h3>
        </header>
        <hr class="mll mrl">
        <p>The Office of Adult Education helps adults in Philadelphia get the education they need for work, family, and civic engagement.</p>
      </div>
    </a>
  </div>
</div>
