<div class="large-10 columns connect vcard">
  <div class="row collapse equal-height inside-border-group">
    <div class="small-5 columns equal center inside-border-group-item">
      <div class="valign">
        <div class="valign-cell">
          <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="small-19 columns equal inside-border-group-item">
      <div class="valign">
        <div class="adr valign-cell phm pvl">
          <span class="street-address">1401 JFK Boulevard</span><br>
          <span class="street-address">MSB Suite 630</span><br>
          <span class="locality">Philadelphia</span>, <span class="region" title="Pennsylvania"> PA</span>
          <span class="postal-code">19102</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row collapse equal-height inside-border-group">
    <div class="small-5 columns equal center inside-border-group-item">
      <div class="valign">
        <div class="valign-cell">
          <i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="small-19 columns equal inside-border-group-item">
      <div class="valign">
        <div class="email valign-cell phm pvl">
          <span class="type accessible">Email: </span><a href="mailto:oddt@phila.gov" class="value">oddt@phila.gov</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row collapse equal-height inside-border-group">
    <div class="small-5 columns equal center inside-border-group-item">
      <div class="valign">
        <div class="valign-cell">
          <i class="fa fa-phone fa-2x" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="small-19 columns equal inside-border-group-item">
      <div class="valign">
        <div class="valign-cell phm pvl">
          <div class="tel">
            <span class="type accessible">Phone: </span><a href="tel:2156868181" class="value">(215) 686-8181</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row collapse equal-height inside-border-group">
    <div class="small-5 columns equal center inside-border-group-item">
      <div class="valign">
        <div class="valign-cell">
          <i class="fa fa-at fa-2x" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="small-19 columns equal inside-border-group-item">
      <div class="valign">
        <div class="valign-cell phm pvl inside-border-group-item row collapse">
          <div class="small-24 columns pvxs">
            <a href="https://twitter.com/PHLInnovation" class="phs" data-analytics="social">
              <i class="fa fa-twitter fa-2x" title="Twitter" aria-hidden="true"></i>
              <span class="show-for-sr">Twitter</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
