<table class="no-alternate connect h-card">
  <tr>
    <th scope="row"><i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
    <span class="accessible">Address</span></th>
    <td class="p-adr pvl">
      <span class="p-street-address">1401 JFK Boulevard</span><br>
      <span class="p-extended-address">MSB Suite 630</span><br>
      <span class="p-locality">Philadelphia</span>, <span class="region" title="Pennsylvania"> PA</span>
      <span class="p-postal-code">19102</span>
    </td>
  </tr>
  <tr>
    <th scope="row">
      <span class="accessible">Email</span>
      <i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i>
    </th>
    <td class="pvl">
      <a href="mailto:oddt@phila.gov" class="u-email">oddt@phila.gov</a>
    </td>
  </tr>
  <tr>
    <th scope="row">
      <i class="fa fa-at fa-2x" aria-hidden="true"></i>
      <span class="accessible">Social</span>
    </th>
    <td class="pvl">
      <a href="https://twitter.com/PHLInnovation" class="phs" data-analytics="social">
        <i class="fa fa-twitter fa-2x" title="Twitter" aria-hidden="true"></i>
        <span class="show-for-sr">Twitter</span>
      </a>
      <a href="https://github.com/CityOfPhiladelphia" class="phs" data-analytics="social">
        <i class="fa fa-github fa-2x" title="GitHub" aria-hidden="true"></i>
        <span class="show-for-sr">GitHub</span>
      </a>
    </td>
  </tr>
</table>
