<fieldset>
  <legend class="h4">Favorite Philly cheesesteaks</legend>
  <input id="pat" type="checkbox" name="cheesesteak" value="pat">
  <label for="pat">Pat's King of Steaks</label><br>
  <input id="geno" type="checkbox" name="cheesesteak" value="geno">
  <label for="geno">Geno's Steaks</label><br>
  <input id="tony-luke" type="checkbox" name="cheesesteak" value="tony-luke">
  <label for="tony-luke">Tony Luke's</label><br>
  <input id="jim" type="checkbox" name="cheesesteak" value="jim">
  <label for="jim">Jim's Steaks</label>
</fieldset>
