<div class="row">
  <div class="columns">
    <div class="bg-medium-gray pam">1/1</div>
  </div>
</div>

<div class="row">
  <div class="columns medium-12">
    <div class="bg-medium-gray pam">1/2</div>
  </div>
  <div class="columns medium-12">
    <div class="bg-medium-gray pam">1/2</div>
  </div>
</div>

<div class="row">
  <div class="columns medium-8">
    <div class="bg-medium-gray pam">1/3</div>
  </div>
  <div class="columns medium-8">
    <div class="bg-medium-gray pam">1/3</div>
  </div>
  <div class="columns medium-8">
    <div class="bg-medium-gray pam">1/3</div>
  </div>
</div>

<div class="row">
  <div class="columns medium-6">
    <div class="bg-medium-gray pam">1/4</div>
  </div>
  <div class="columns medium-6">
    <div class="bg-medium-gray pam">1/4</div>
  </div>
  <div class="columns medium-6">
    <div class="bg-medium-gray pam">1/4</div>
  </div>
  <div class="columns medium-6">
    <div class="bg-medium-gray pam">1/4</div>
  </div>
</div>

<div class="row">
  <div class="columns medium-18">
    <div class="bg-medium-gray pam">3/4</div>
  </div>
  <div class="columns medium-6">
    <div class="bg-medium-gray pam">1/4</div>
  </div>
</div>
