<div class="row center mtl mbxl">
  <div class="columns medium-6">
    <i class="fas fa-trash fa-5x" aria-hidden="true"></i>
  </div>
  <div class="columns medium-6">
    <i class="fas fa-home fa-5x" aria-hidden="true"></i>
  </div>
  <div class="columns medium-6">
    <i class="fas fa-gavel fa-5x" aria-hidden="true"></i>
  </div>
  <div class="columns medium-6">
    <i class="fas fa-university fa-5x" aria-hidden="true"></i>
  </div>
</div>

<div class="row center mbxl">
  <div class="columns medium-6">
    <i class="fas fa-car fa-5x" aria-hidden="true"></i>
  </div>
  <div class="columns medium-6">
    <i class="far fa-envelope fa-5x" aria-hidden="true"></i>
  </div>
  <div class="columns medium-6">
    <i class="fas fa-check-square-o fa-5x" aria-hidden="true"></i>
  </div>
  <div class="columns medium-6">
    <i class="fas fa-book fa-5x" aria-hidden="true"></i>
  </div>
</div>
<div class="row center mbl">
  <div class="columns medium-6">
    <i class="fas fa-file-text fa-5x" aria-hidden="true"></i>
  </div>
  <div class="columns medium-6">
    <i class="fas fa-external-link fa-5x" aria-hidden="true"></i>
  </div>
  <div class="columns medium-6">
    <i class="fas fa-group fa-5x" aria-hidden="true"></i>
  </div>
  <div class="columns medium-6">
    <i class="fas fa-credit-card fa-5x" aria-hidden="true"></i>
  </div>
</div>
