<div class="row center mtl mbxl">
  <div class="columns medium-6">
    <i class="fa fa-trash fa-5x"></i>
  </div>
  <div class="columns medium-6">
    <i class="fa fa-home fa-5x"></i>
  </div>
  <div class="columns medium-6">
    <i class="fa fa-gavel fa-5x"></i>
  </div>
  <div class="columns medium-6">
    <i class="fa fa-university fa-5x"></i>
  </div>
</div>

<div class="row center mbxl">
  <div class="columns medium-6">
    <i class="fa fa-car fa-5x"></i>
  </div>
  <div class="columns medium-6">
    <i class="fa fa-envelope-o fa-5x"></i>
  </div>
  <div class="columns medium-6">
    <i class="fa fa-check-square-o fa-5x"></i>
  </div>
  <div class="columns medium-6">
    <i class="fa fa-book fa-5x"></i>
  </div>
</div>
<div class="row center mbl">
  <div class="columns medium-6">
    <i class="fa fa-file-text fa-5x"></i>
  </div>
  <div class="columns medium-6">
    <i class="fa fa-external-link fa-5x"></i>
  </div>
  <div class="columns medium-6">
    <i class="fa fa-group fa-5x"></i>
  </div>
  <div class="columns medium-6">
    <i class="fa fa-credit-card fa-5x"></i>
  </div>
</div>
