<meta name="twitter:card" content="summary">
<meta property="og:title" content="Social media">
<meta property="og:description" content="Guidelines for social media image use and open graph markup.">
<meta property="og:type" content="website">
<meta property="og:url" content="https://standards.phila.gov/guidelines/design-development/social-media/">
<meta property="og:site_name" content="standards.phila.gov">
<meta property="og:image" content="https://beta.phila.gov/media/20160715133810/phila-gov.jpg">
