<ul class="no-bullet pan border-bottom-list">
  <li>
    <a href="https://beta.phila.gov/press-releases/mayor/city-announces-speaker-series-exploring-strategic-design/">
      <div class="clearfix equal-height press-release" data-resize="cdkpn1-eq" data-equalizer="48fuw0-equalizer">
        <div class="float-left equal icon">
          <div class="valign">
            <div class="valign-cell pam">
              <i class="fas fa-file-text-o fa-2x" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <div class="equal details">
          <div class="valign">
            <div class="valign-cell pam">
              <span>City Announces Speaker Series Exploring Strategic Design</span>
              <span class="entry-date small-text">February 21, 2017</span>
            </div>
          </div>
        </div>
      </div>
    </a>
  </li>
  <li>
    <a href="https://beta.phila.gov/press-releases/mayor/mayors-public-schedule-for-tuesday-february-21-2017/">
      <div class="clearfix equal-height press-release">
        <div class="float-left equal icon">
          <div class="valign">
            <div class="valign-cell pam">
              <i class="fas fa-file-text-o fa-2x" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <div class="equal details">
          <div class="valign">
            <div class="valign-cell pam">
              <span>Mayor’s Public Schedule for Tuesday, February 21, 2017</span>
              <span class="entry-date small-text">February 21, 2017</span>
            </div>
          </div>
        </div>
      </div>
    </a>
  </li>
  <li>
    <a href="https://beta.phila.gov/press-releases/mayor/mayors-public-schedule-for-218-219-220-2017/">
      <div class="clearfix equal-height press-release">
        <div class="float-left equal icon">
          <div class="valign">
            <div class="valign-cell pam">
              <i class="fas fa-file-text-o fa-2x" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <div class="equal details">
          <div class="valign">
            <div class="valign-cell pam">
              <span>Mayor’s Public Schedule for 2/18, 2/19, 2/20, 2017</span>
              <span class="entry-date small-text">February 17, 2017</span>
            </div>
          </div>
        </div>
      </div>
    </a>
  </li>
  <li>
    <a href="https://beta.phila.gov/press-releases/mayor/philadelphia-joins-other-cities-in-challenging-presidents-travel-ban/">
      <div class="clearfix equal-height press-release">
        <div class="float-left equal icon">
          <div class="valign">
            <div class="valign-cell pam">
              <i class="fas fa-file-text-o fa-2x" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <div class="equal details">
          <div class="valign">
            <div class="valign-cell pam">
              <span>Philadelphia Joins Other Cities in Challenging President’s Travel Ban</span>
              <span class="entry-date small-text">February 17, 2017</span>
            </div>
          </div>
        </div>
      </div>
    </a>
  </li>
  <li>
    <a href="https://beta.phila.gov/press-releases/mayor/startupphl-call-for-ideas-grant-awardees-announced/">
      <div class="clearfix equal-height press-release">
        <div class="float-left equal icon">
          <div class="valign">
            <div class="valign-cell pam">
              <i class="fas fa-file-text-o fa-2x" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <div class="equal details">
          <div class="valign">
            <div class="valign-cell pam">
              <span>StartupPHL Call for Ideas Grant Awardees Announced</span>
              <span class="entry-date small-text">February 17, 2017</span>
            </div>
          </div>
        </div>
      </div>
    </a>
  </li>
</ul>
