<div class="row">
  <div class="columns">
    <section>
      <h3>Related content</h3>
      <div class="phm-mu">
        <ul>
          <li>
            <a class="external" href="http://www.revenue.pa.gov/GeneralTaxInformation/Tax%20Types%20and%20Information/Pages/Cigarette-Tax.aspx#.V8MgVfkrK00">Pennsylvania Cigarette Tax</a>
          </li>
          <li>
            <a class="external" href="http://www.revenue.pa.gov/FormsandPublications/FormsforBusinesses/Pages/Cigarette-Tax.aspx#.V8Mf3_krK00">Pennsylvania Cigarette Tax forms</a></li>
          </ul>
      </div>
    </section>
  </div>
</div>
