<div class="row collapse equal-height service-update service-update--critical">
  <div class="small-6 columns equal">
    <div class="icon valign">
      <div class="valign-cell phl-mu">
        <i class="fa fa-trash fa-2x fa-fw" aria-hidden="true"></i>
        <span class="icon-label">trash</span>
      </div>
    </div>
  </div>
  <div class="small-18 columns equal">
    <div class="details valign">
      <div class="valign-cell pam">
        <span>Trash and recycling collection is suspended due to weather. Hold trash until next Thursday. <a href="http://www.philadelphiastreets.com/" class="external">Visit Philadelphia Streets for more information.</a></span>
        <span class="date small-text"><em>In Effect: Tuesday, Feb. 21 </em></span>
      </div>
    </div>
  </div>
</div>
<div class="row collapse equal-height service-update service-update--warning">
  <div class="small-6 columns equal">
    <div class="icon valign">
      <div class="valign-cell phl-mu">
        <i class="fa fa-subway fa-2x fa-fw" aria-hidden="true"></i>
        <span class="icon-label">transit</span>
    </div>
    </div>
  </div>
  <div class="small-18 columns equal">
    <div class="detials valign">
      <div class="valign-cell pam">
        <span>The Market-Frankford SEPTA line is operating on a modified schedule today. <a href="http://www.philadelphiastreets.com/" class="external">Learn more about the schedule from SEPTA.</a></span>
      </div>
    </div>
  </div>
</div>
<div class="row collapse equal-height service-update">
  <div class="small-6 columns equal">
    <div class="icon valign">
      <div class="valign-cell phl-mu">
        <i class="fa fa-institution fa-2x fa-fw" aria-hidden="true"></i>
        <span class="icon-label">city</span>
      </div>
    </div>
  </div>
  <div class="small-18 columns equal">
    <div class="details valign">
      <div class="valign-cell pam">
        <span>All City buildings are open for their regular business hours.</span>
      </div>
    </div>
  </div>
</div>
