<table class="service-update">
  <tr scope="row" class="service-update--critical">
    <th class="phl-mu">
      <i class="fas fa-trash fa-2x fa-fw" aria-hidden="true"></i>
      <span class="icon-label">trash</span>
    </th>
    <td class="pam">
      <span>Trash and recycling collection is suspended due to weather. Hold trash until next Thursday. <a href="http://www.philadelphiastreets.com/" class="external">Visit Philadelphia Streets for more information.</a></span>
      <span class="date small-text"><em>In Effect: Tuesday, Feb. 21 </em></span>
    </td>
  </tr>
  <tr scope="row" class="service-update--warning">
    <th class="phl-mu">
      <i class="fas fa-subway fa-2x fa-fw" aria-hidden="true"></i>
      <span class="icon-label">transit</span>
    </th>
    <td class="pam">
      <span>The Market-Frankford SEPTA line is operating on a modified schedule today. <a href="http://www.septa.org/" class="external">Learn more about the schedule from SEPTA.</a></span>
    </td>
  </tr>
  <tr scope="row" class="service-update">
    <th class="phl-mu">
      <i class="fas fa-institution fa-2x fa-fw" aria-hidden="true"></i>
      <span class="icon-label">city</span>
    </th>
    <td class="pam">
      <span>All City buildings are open for their regular business hours.</span>
    </td>
  </th>
</table>
