<div id="site-wide-alert" data-closable>
  <div class="row">
    <div class="medium-16 medium-centered">
      <div class="row equal-height pvs">
        <div class="small-1 columns center equal icon">
          <div class="valign">
            <div class="valign-cell">
              <i class="fas fa-exclamation fa-3x" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <div class="small-23 columns equal message">
          Due to extremely cold conditions, the City is implementing <a href="https://beta.phila.gov/services/mental-physical-health/code-blue/">special measures</a> to keep homeless people safe. If you see a person who needs shelter, call (215) 232-1984.
          <div class="dates pts">
            In effect: 11:30 a.m. on Wednesday, Feb. 22 to 11:30 a.m. on Saturday, Feb. 25
          </div>
        </div>
      </div>
      <button class="close-button" data-close>&times;</button>
    </div>
  </div>
</div>
