<h3>How to pay</h3>
<div class="step-group phm-mu">
  <div class="step-label">1</div>
    <div class="step">
      <div class="step-title">Download and print a payment coupon.</div>
      <div class="step-content">
        <p>Valet parking operators are responsible for paying the tax on time, whether or not they receive a coupon book. You can print payment coupons from the Department of Revenue's
        <a class="external" href="https://ework.phila.gov/revenue/">eFile/ePay site.</a> (Look for the "Payment Coupon" link.)</p>
      </div>
    </div>
  <div class="step-label">2</div>
  <div class="step">
    <div class="step-title">Mail payments with coupons to:</div>
      <div class="step-content">
        <div class="vcard">
          <span class="street-address">Philadelphia Dept. of Revenue</span><br>
          <span class="street-address">P.O. Box 806</span><br>
          <span class="locality">Philadelphia</span>, <span class="region" title="Pennsylvania">PA</span>
          <span class="postal-code">19105-0806</span>
          </div>
        </div>
    </div>
</div>
