<table role="grid" class="stack">
  <caption>If this table needs context other than paragraph information leading up to it, use this area. </caption>
  <tbody>
    <tr>
      <th scope="row">Star Trek series</th>
      <td>The Original Series</td>
      <td>The Next Generation</td>
      <td>Deep Space Nine</td>
      <td>Voyager</td>
      <td>Enterprise</td>
    </tr>
    <tr>
      <th scope="row">Abbreviation</th>
      <td><abbr title="The Original Series">TOS</abbr></td>
      <td><abbr title="The Next Generation">TNG</abbr></td>
      <td><abbr title="Deep Space Nine">DS9</abbr></td>
      <td><abbr title="Voyager">VOY</abbr></td>
      <td><abbr title="Enterprise">ENT</abbr></td>
    </tr>
    <tr>
      <th scope="row">Years aired</th>
      <td>1966 - 1969</td>
      <td>1987 - 1994</td>
      <td>1993 - 1999</td>
      <td>1995 - 2001</td>
      <td>2001 - 2005</td>
    </tr>
  </tbody>
</table>
