<table role="grid" class="stack js-hide-empty">
  <caption>If this table needs context other than paragraph information leading up to it, use this area.</caption>
  <thead>
    <tr>
      <th scope="col">Star Trek series</th>
      <th scope="col">Abbreviation</th>
      <th scope="col">Years aired</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>The Original Series</td>
      <td><abbr title="The Original Series">TOS</abbr></td>
      <td>1966 - 1969</td>
    </tr>
    <tr>
      <td>The Next Generation</td>
      <td><abbr title="The Next Generation">TNG</abbr></td>
      <td>1987 - 1994</td>
    </tr>
    <tr>
      <td>Deep Space Nine</td>
      <td><abbr title="Deep Space Nine">DS9</abbr></td>
      <td>1993 - 1999</td>
    </tr>
    <tr>
      <td>Voyager</td>
      <td><abbr title="Voyager">VOY</abbr></td>
      <td>1995 - 2001</td>
    </tr>
    <tr>
      <td>Enterprise</td>
      <td><abbr title="Enterprise">ENT</abbr></td>
      <td>2001 - 2005</td>  
    </tr>
  </tbody>
</table>
