<div id="page">
  <div id="content">
    <header>
      <div class="hero-content" style="background-image:url({{ .Site.BaseURL }}/img/standards-hero.jpg) ">
        <div class="hero-wrap">
          <div class="row expanded pbl">
            <div class="medium-14 small-centered columns text-overlay">
              <h1><span class="h3 break-after">City of Philadelphia</span> Digital Standards</h1>
              </div>
            </div>
          </div>
        </div>
      </header>
      <nav class="row mtm">
        <div class="columns">
          <ol class="breadcrumbs">
            <li><a href="https://phila.gov">
              <i class="fas fa-home" aria-hidden="true"></i><span class="accessible">City of Philadelphia Home</span></a>
            </li>
            <li><a href="http://standards.phila.gov/">City of Philadelphia Digital Standards</a></li>
            <li><a href="">Use the standards</a></li>
            <li><a href="use/technical-details/">Technical details</a></li>
            <li>Upgrade guide</li>
          </ol>
        </div>
      </nav>
    <main>
