<div class="row mbm">
  <div class="small-24 columns">
    <section>
      <div class="bg-light-blue pam">
        <div class="row column">
          <div class="valign equal-height">
            <div class="valign-cell equal prs">
              <i class="fa fa-info-circle fa-3x" aria-hidden="true"></i>
            </div>
            <div class="valign-cell equal">
              <h2 class="h3 mbn">You’re on the City’s beta digital standards site. It’s a work-in-progress. Use the site’s <i class="fa fa-lightbulb-o"></i> feedback links to help us make the content better.</h2>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
